
@{
    ViewBag.Title = ViewBag.Tip + " - 一股一十";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin:10px auto;min-width:200px;width:300px; height:200px;">
    <div>
    </div>
    <br />
    <h1>您的访问出错了。</h1>
    <br />
    <p>
        <label>@ViewBag.Tip</label>
        <span>
            <span>返回<a href="http://www.nichaogu.com/">首页</a></span>
        </span>
    </p>

</div>